<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Courses</title>
    </head>
    <body>
        <h1>All Courses</h1>
	 	<h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}">
			Login as</h2>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>       
    	<div th:each="course,iterationStatus: ${courses}">
            <h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
	       	<h3 th:text="'ID Course = ' + ${course.IdCourse}">Course ID</h3>
	       	<h3 th:text="'Nama = ' + ${course.nama}">Course Nama</h3>
	       	<h3 th:text="'SKS = ' + ${course.sks}">Course SKS</h3>
	       	<hr/>   
       	</div> 	
    </body>
</html>
